body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
.profile{

}
.profile p{
  font-size: 20px;
}
.profile p span{
  margin-right: 10px;
  font-weight: bold;
  color: crimson;
}